PORT=5002
JWT_KEY=Vanchay
# Cy3fe8nQxNbVyBoJ

# Postgres SQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# Database Cloud
POSTGRES_HOST=aws-0-ap-south-1.pooler.supabase.com
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres.rbdwkgvmhcxwqghrcqka